body {
	background-color: #111;
}

#watch {
	color: #444;
	background-color: #111;
	text-align: center;
	font-family: monospace;
	font-size: 1.5em;
	letter-spacing: 1em;
	line-height:1.5em;

}

#watch .highlight {
	color:#eee;
	text-shadow:1px 1px 0px #111;
}