/* @font-face { */
/*     font-family: futur-mono; */
/*     src: url("FUTRFW.TTF"); */
/* } */

body {
	background-color: #111;
}

#wrap {
	color: #444;
	background-color: #111;
	text-align: center;
	font-family: futur-mono, monospace;
	font-size: 1.5em;
	letter-spacing: 1em;
	line-height:1.5em;
	/* border: 3px dashed #444; */
	/* display: inline-block; */
	/* padding: 0.5em 0.5em 0.5em 1.3em; */
	/* margin:auto; */
}

.highlight {
	color:#eee;
	text-shadow:1px 1px 0px #111;
}

#seconds {
	font-size:0.5em;
	letter-spacing:0em;
	color:#444;
	background-color: #111;
	text-align:center;
	font-family: monospace;
}